# Database Configuration
DATABASE_URL="postgresql://restaurant_db_owner:npg_alEou0e9VNyp@ep-purple-dew-a8eqi3uf-pooler.eastus2.azure.neon.tech/restaurant_db?sslmode=require"
# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Email Configuration (Gmail example)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=slightallan125@gmail.com
SMTP_PASS=gcdo yoer mqaf nfut

# Application Configuration
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

